#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

li{
	float: right;
}

.btn btn-green
{	font-size: 13px;
    padding: 4px 8px;
    border: 2px solid white;
    background-color: brown;
    color: black;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}
.btn:hover {
    background-color: rgb(136, 226, 240);
}

table{
    margin: auto;
}
.btn{
background-color: #ffe4c4;
}
input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 65px;
    width: 456px;

}

h3,h5{
    font-size: 18px;
    font-family: 'Georgia', Courier, monospace;
}
marquee{
	font-family:'Georgia';
	background-color: #e9967a;
}

p{	font-size: 16px;
    font-family: 'Georgia', Courier, monospace;
}
h2,h4{
font-family: 'Georgia';
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
.center{
    text-align: center;
}
 
.Search{
    float: right;
    padding: 12px 45px;
   

.get-in-touch {
            position: fixed;
            left: 0;
            top: 50%;
            /* after rotation this is the height */
            margin-top: 75px;
            /* is 50% of width */
            transform: rotate(270deg);
            transform-origin: 0% 0%;
            z-index: 105;
            transition: left 0.5s ease-in-out;
            /* set to the upper-left corner */
        }

        .get-in-touch label {
            color: rgb(48, 17, 160);
            width: 150px;
            background-color: #91e598;
            text-align: center;
        }
img3{
	float:right;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
body {
   background: lightblue;
    min-height: 200vh;
    font-size: 18px;
    padding-top: 10px;
  }
a:hover {
    font-size: 1.1rem ;
    color: rgb(64, 228, 116);
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;


}
h3{
    color: aqua;
}
navbar.sticky{
    padding: 5px 100px;
    background: #fff;
}

.highlight, select{
    background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);

   color: rgba(17, 13, 234, 0.599);
  border-radius: 5px;
  padding: 5px;
  font-family: cursive;
  }
  
navbar.logo
{
    position: relative;
    font-weight: 800;
    color: #e1c8c8;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    transition: 0.9s;

}
navbar ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
navbar ul li{
    position: relative;
    list-style: none;

}
navbar ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
	
.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: #2d1f8b;

